.main-table-container{
    margin: 0 auto;
    width: 80%;
}
table{
    width: 100%
}
.td-top{
    font-weight: bold;
    color: black;
}

.main-table-container--loading{
    background-color: brown;
}